<div class=" mx-auto p-4">
    <!-- First Row: Staking Details and Rewards -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Staking Details Box -->
        <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between">
            <h2 class="text-[18px] font-medium leading-[17px] text-[#333333] mb-2">Phase 1 Staking Details</h2>
            <img class="w-[12px] h-[12px]" src="Photos/info.png">
        </div>
            <ul class="space-y-2">
                <li class="flex justify-between items-center bg-[#F3F5FF] p-2 rounded-md">
                    <div class="flex items-center">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14.5" fill="#054F85" stroke="#E5E9EB"/>
                            <path d="M8 15.5L13 20.5L22 10" stroke="white" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                        <span class="pl-2 text-[20px] font-medium leading-[19px] text-[#04165B]">Stake Ratio</span>
                    </div>
                    <span class="text-[18px] font-[400] leading-[17px] text-[#333333] ">1-1</span>
                </li>
                
                <li class="flex items-center bg-[#F3F5FF] p-2 rounded-md">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5" fill="#054F85" stroke="#E5E9EB"/>
                        <path d="M8 15.5L13 20.5L22 10" stroke="white" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                  <span class="pl-2 text-[20px] font-medium leading-[19px] text-[#04165B]">  Auto Stake ON: 0.2% Daily Reward</span>
                </li>
                <li class="flex items-center bg-[#F3F5FF] p-2 rounded-md" >
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5" fill="#054F85" stroke="#E5E9EB"/>
                        <path d="M8 15.5L13 20.5L22 10" stroke="white" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span class="pl-2 text-[20px] font-medium leading-[19px] text-[#04165B]">      Auto Stake OFF: 0.1% Daily Reward</span>
                </li>
            </ul>
        </div>

        <!-- Rewards Box -->
        <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex justify-between">
            <h2 class="text-[18px] font-medium leading-[17px] text-[#333333] mb-2">Plen Vida Rewards</h2>
            <img class="w-[12px] h-[12px]" src="Photos/info.png">
            </div>
            <ul class="space-y-2">
                <li class="flex items-center bg-[#F3F5FF] p-2 rounded-md">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5" fill="#054F85" stroke="#E5E9EB"/>
                        <path d="M8 15.5L13 20.5L22 10" stroke="white" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span class="pl-2 text-[20px] font-medium leading-[19px] text-[#04165B]">   10% Direct Reward</span>
                </li>
                <li class="flex items-center bg-[#F3F5FF] p-2 rounded-md">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5" fill="#054F85" stroke="#E5E9EB"/>
                        <path d="M8 15.5L13 20.5L22 10" stroke="white" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span class="pl-2 text-[20px] font-medium leading-[19px] text-[#04165B]">   10% Community Reward</span>
                </li>
                <li class="flex items-center bg-[#F3F5FF] p-2 rounded-md">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5" fill="#054F85" stroke="#E5E9EB"/>
                        <path d="M8 15.5L13 20.5L22 10" stroke="white" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        <span class="pl-2 text-[20px] font-medium leading-[19px] text-[#04165B]">    5% to 20% Team Reward</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Second Row: NFT Cards -->
    <div class="grid grid-cols-2 gap-4 mt-4">
        <!-- Card 1 -->
        <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex">
                <div class="justify-start">
                    <img src="/images/Frame2777.png" alt="Neon Byte" class="rounded-lg w-[125px] h-[109px] mb-4">
                </div>
                <div class="ml-2"> <!-- Reduced or removed margin -->
                    <h3 class="text-[22px] font-medium font-inter leading-[21.7px] text-[#333333]">Neon Byte</h3>
                    <p class="mt-3 mb-3 text-[18px] font-medium font-inter leading-[17px] text-[#8A8A8A]">An accessible and vibrant entry into the<br/> ecosystem</p>
                <div class="flex">   <p class="text-[18px] font-medium font-inter leading-[17px] text-[#374151] line-through">100 USDT</p>
                    <p class="ml-3 text-[18px] font-medium font-inter leading-[17px] text-[#01259F]">80 USDT</p></div> 
                </div>
            </div>
        <div class="flex justify-end">
            <button id="open-box" onclick="document.getElementById('full-width-boxbuy').classList.toggle('hidden')" class="bg-[#054F85] text-[18px] font-medium font-inter leading-[17px]  text-white rounded-md px-4 py-2">Buy This NFT</button>
        </div>
        </div>
        <!-- Card 2 -->
        <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex">
                <div class="justify-start">
                    <img src="/images/Frame777.png" alt="Neon Byte" class="rounded-lg w-[125px] h-[109px] mb-4">
                </div>
                <div class="ml-2"> <!-- Reduced or removed margin -->
                    <h3 class="text-[22px] font-medium font-inter leading-[21.7px] text-[#333333]">Neon Byte</h3>
                    <p class="mt-3 mb-3 text-[18px] font-medium font-inter leading-[17px] text-[#8A8A8A]">An accessible and vibrant entry into the<br/> ecosystem</p>
                <div class="flex">   <p class="text-[18px] font-medium font-inter leading-[17px] text-[#374151] line-through">100 USDT</p>
                    <p class="ml-3 text-[18px] font-medium font-inter leading-[17px] text-[#01259F]">80 USDT</p></div> 
                </div>
            </div>
        <div class="flex justify-end">
            <button id="open-box" onclick="document.getElementById('full-width-boxbuy').classList.toggle('hidden')" class="bg-[#054F85] text-[18px] font-medium font-inter leading-[17px]  text-white rounded-md px-4 py-2">Buy This NFT</button>
        </div>
        </div>

        <!-- Card 3 -->
        <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex">
                <div class="justify-start">
                    <img src="/images/Frame77.png" alt="Neon Byte" class="rounded-lg w-[125px] h-[109px] mb-4">
                </div>
                <div class="ml-2"> <!-- Reduced or removed margin -->
                    <h3 class="text-[22px] font-medium font-inter leading-[21.7px] text-[#333333]">Neon Byte</h3>
                    <p class="mt-3 mb-3 text-[18px] font-medium font-inter leading-[17px] text-[#8A8A8A]">An accessible and vibrant entry into the<br/> ecosystem</p>
                <div class="flex">   <p class="text-[18px] font-medium font-inter leading-[17px] text-[#374151] line-through">100 USDT</p>
                    <p class="ml-3 text-[18px] font-medium font-inter leading-[17px] text-[#01259F]">80 USDT</p></div> 
                </div>
            </div>
        <div class="flex justify-end">
            <button id="open-box" onclick="document.getElementById('full-width-boxbuy').classList.toggle('hidden')" class="bg-[#054F85] text-[18px] font-medium font-inter leading-[17px]  text-white rounded-md px-4 py-2">Buy This NFT</button>
        </div>
        </div>
         <!-- Card 2 -->
         <div class="border border-gray-300 rounded-lg p-4">
            <div class="flex">
                <div class="justify-start">
                    <img src="/images/Frame7.png" alt="Neon Byte" class="rounded-lg w-[125px] h-[109px] mb-4">
                </div>
                <div class="ml-2"> <!-- Reduced or removed margin -->
                    <h3 class="text-[22px] font-medium font-inter leading-[21.7px] text-[#333333]">Neon Byte</h3>
                    <p class="mt-3 mb-3 text-[18px] font-medium font-inter leading-[17px] text-[#8A8A8A]">An accessible and vibrant entry into the<br/> ecosystem</p>
                <div class="flex">   <p class="text-[18px] font-medium font-inter leading-[17px] text-[#374151] line-through">100 USDT</p>
                    <p class="ml-3 text-[18px] font-medium font-inter leading-[17px] text-[#01259F]">80 USDT</p></div> 
                </div>
            </div>
        <div class="flex justify-end">
            <button id="open-box" onclick="document.getElementById('full-width-boxbuy').classList.toggle('hidden')" class="bg-[#054F85] text-[18px] font-medium font-inter leading-[17px]  text-white rounded-md px-4 py-2">Buy This NFT</button>
        </div>
        </div>

        <!-- Add more cards if necessary -->
    </div>




    <div id="full-width-boxbuy" class="hidden absolute top-[160px] z-[500] right-0 h-[90%] w-[420px] rounded-tl-lg rounded-bl-lg">

        <div class="absolute top-[0%] z-[999] w-full pl-2 pr-2 pb-6 pt-4 h-full bg-white rounded-lg shadow-lg">
        
            <!-- Modal Header -->
            <div class="flex items-center justify-between">
                <h2 class="text-[24px] font-bold leading-[24.2px] text-[#333333]">Request This NFT</h2>
                <svg hx-get="egetyminingdesktop.html" hx-target="#main-content" hx-swap="innerHTML" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.5L19 19.5M1 19.5L19 1.5L1 19.5Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </div>
            
            <!-- NFT Image -->
            <img src="/images/buynft.png" alt="NFT Image" class="w-full h-48 mt-[30px] rounded-lg object-cover mb-3">
            
            <!-- NFT Title and Description -->
            <h3 class="text-[24px] font-[500] leading-[24.2px] text-[#333333] text-center ">Neon Byte</h3>
            <p class="text-[20px] font-[400] leading-[22.2px] text-[#8A8A8A] mb-6 mt-6">
                An accessible and vibrant entry into the ecosystem.
            </p>
            <p class="text-[18px] font-[400] leading-[21px] text-[#8A8A8A] mb-6 mt-6">
                Please pay due amount through the following Wallet Address and send a screenshot to the following E-Mail:"
                <a href="mailto:info@plenvida.com" class="text-[18px] font-[500] leading-[19.2px] text-[#04165B]">info@plenvida.com</a>"
            </p>
            
            <!-- Wallet Address Section -->
            <div class="mb-8 border border-[#E7E7E7] p-2 rounded-md">
                <label class="block text-[20px] font-[500] leading-[19px] text-[#333333] mb-2">Wallet Address</label>
                <div class="space-y-2">
                    <!-- TRC20 Address -->
                    <div class="p-2 bg-white border border-[#E7E7E7] rounded-md">
                        <p class="text-[22px] font-[500] leading-[21.7px] text-[#04165B]">TRC20</p>
                        <p class="text-[18px] font-[400] leading-[17px] text-[#8A8A8A] truncate">TRNtFLTqRBpN1cSk14wh4wit5mFW8M4sza</p>
                    </div>
                    <!-- BEP20 Address -->
                    <div class="p-2 border border-[#E7E7E7] bg-white rounded-md">
                        <p class="text-[22px] font-[500] leading-[21.7px] text-[#04165B]">BEP20</p>
                        <p class="text-[18px] font-[400] leading-[17px] text-[#8A8A8A] truncate">0xdBa8cB36C3a27063837eC42aBF5876d....</p>
                    </div>
                </div>
            </div>
            
            <!-- Buttons -->
            <div class="flex space-x-4">
                <button class="w-[80%] py-[8px] bg-[#04165B] text-[18px] font-inter leading-[17px] text-white font-medium rounded-[8px] hover:bg-blue-700 transition">
                    Request
                </button>
                <button hx-get="egetyminingdesktop.html" hx-target="#main-content" hx-swap="innerHTML" class="w-[20%] py-[8px] text-[18px] leading-[17px] font-inter  border border-[#04165B] text-[#04165B] font-medium rounded-lg hover:bg-gray-100 transition">
                    Cancel
                </button>
            </div>
            
        </div>
    </div>
</div>
