<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../src/style.css" rel="stylesheet">
  <script src="../js/htmx.min.js"></script>
</head>

<body>
  <div class="block lg:hidden">
    <div class="flex flex-col w-full h-auto bg-white transform flip-horizontal">
      <!-- WONDERS -->
    

      <!-- Div 2 -->
    
      <!-- My Egety Wonders NFT -->
      <p class="w-[183px] h-[19px] mt-[20px] ml-2 font-inter font-bold text-[16px] leading-[19px] text-[#333333]">
        My Egety Wonders NFT
      </p>

      <!-- Div 4-->
      <div hx-get="/OverViewAllNFTs/Div4.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 5-->
      <div hx-get="/OverViewAllNFTs/Div5.html" hx-swap="outerHTML" hx-trigger="load"></div>


      <!-- Div 6 Open/close -->
      <div hx-get="/OverViewAllNFTs/Div6.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- NFT Name -->
      <p
        class="flex mx-auto mt-[10px] mb-[10px] font-inter font-bold text-[16px] leading-[19px] text-[#333333]">
        NFT Name
      </p>

      <img class="w-full mx-auto mt-[-15px]" src="Photos/Frame 2787.png">

      <!-- Div 7 -->
      <div hx-get="/OverViewAllNFTs/Div7.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 8-->
      <div hx-get="/OverViewAllNFTs/Div8.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 9 -->

      <div hx-get="/OverViewAllNFTs/Div9.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!--  Div 10 Toggle button -->
      <div hx-get="/OverViewAllNFTs/Div10.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 11 Active Since 1 year 2 months 19 days 17h 20 min -->
      <div hx-get="/OverViewAllNFTs/Div11.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 12 -->
      <div hx-get="/OverViewAllNFTs/Div12.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 13 -->
      <div hx-get="/OverViewAllNFTs/Div13.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 14 -->
      <div hx-get="/OverViewAllNFTs/Div14.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 15  open/close -->
      <div hx-get="/OverViewAllNFTs/Div15.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- NFT Name -->
      <p
        class="flex mx-auto mt-[10px] mb-[10px] font-inter font-bold text-[16px] leading-[19px] text-[#333333]">
        NFT Name
      </p>

      <img class="w-full mx-auto mt-[-15px]" src="Photos/Frame 2787.png">

      <!-- Div 16-->
      <div hx-get="/OverViewAllNFTs/Div16.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 17-->
      <div hx-get="/OverViewAllNFTs/Div17.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 18-->
      <div hx-get="/OverViewAllNFTs/Div18.html" hx-swap="outerHTML" hx-trigger="load"></div>

      <!-- Div 19 -->
      <div hx-get="/OverViewAllNFTs/Div19.html" hx-swap="outerHTML" hx-trigger="load"></div>

    </div>

  </div>

</body>

</html>